<section class="section-medium section-arrow--bottom-center section-arrow-primary-color bg-primary  animated fadeIn fast">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center">
                <h2 class="section-title "> Lo que dicen nuestros alumnos de nosotros</h2>
                <p class="section-sub-title">

                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-primary t-bordered  animated fadeIn fast">
    <div class="container">
        <div class="row testimonial-three testimonial-three--col-three">
            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Todo perfecto. El curso ha sido intenso debido a la cantidad de materia a tratar en un breve espacio de tiempo. Pero el material ha sido muy completo, bien explicado y acorde a los objetivos marcados. Ha cubierto ampliamente mis expectativas. Muchas gracias
                            y un saludo.
                        </p>
                    </div>
                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Gabriel Chavez</strong>

                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                    </div>

                    <div class="testimonial-content">
                        <p>
                            Excelente curso, tanto la estructura como la calidad de los contenidos, así como la experiencia y comunicación con el tutor.
                        </p>
                    </div>

                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Jairo Espinoza</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Como todos los demás cursos que he hecho con ustedes, me encanta la plataforma, el temario, la atención y el profesorado. Seguiré recomendando estos cursos.
                        </p>
                    </div>
                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Luis Gonzales</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar4.png">
                    </div>

                    <div class="testimonial-content">
                        <p>
                            Curso muy interesante el cual recomiendo para las personas que quieran adentrarse en herramientas informaticas.
                        </p>
                    </div>

                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Neiser Guillen</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar5.png">
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Excelente. El trato y la atención han sido espectaculares. Todas las dudas resueltas, el tiempo de respuesta es bastante breve. Todo genial
                        </p>
                    </div>
                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Andre Coral</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                    </div>

                    <div class="testimonial-content">
                        <p>
                            Muy conforme con el curso, preciso, conciso y claro. El profesor 10 puntos siempre pendiente del alumno. 100 % de conformidad.
                        </p>
                    </div>

                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Jerferson Gonzales</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container  animated fadeIn fast">
    <div class="be-comment-block">

        <div class="be-comment">
            <h3>Dejanos tu experiencia con nosotros</h3>
            <br>
            <form class="form-block">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-user"></i></div>
                            <input class="form-input" type="text" placeholder="Digite su nombre">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 fl_icon">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-envelope-o"></i></div>
                            <input class="form-input" type="text" placeholder="Digite su e-mail">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-input" required="" placeholder="Comentario"></textarea>
                        </div>
                    </div>
                    <a class="btn btn-primary pull-right">Enviar</a>
                </div>
            </form>
        </div>
    </div>